---
import "@fontsource-variable/inter";
import Header from "~/components/header.astro";
import Home from "~/components/home.astro";
import OurWay from "~/components/ourWay.astro";
import OurServices from "~/components/ourServices.astro";
import OurMetodology from "~/components/ourMetodologhy.astro";
import OurTeam from "~/components/ourTeam.astro";
import AboutUs from "~/components/aboutUs.astro";
import "~/styles/index.css";
import {textEs} from "../lang/es";
---

<!doctype html>
<html
  lang="en"
  class="h-full w-full motion-safe:scroll-smooth"
  data-theme="dark"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link href="https://fonts.cdnfonts.com/css/star-wars" rel="stylesheet" />
  <!-- HTML Meta Tags -->
  <title>Padawan</title>
  <meta
  property="og:description"
  content={textEs.home}>

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="logo">
  <meta property="og:title" content="Padawan">
  <meta property="og:type" content="website">
    <meta
      property="og:description"
      content={textEs.home}>
  <meta property="og:image" content="https://padawanway.com/img-Meta-Tags-Card.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="padawanway.com">
  <meta property="twitter:url" content="https://padawanway.com/">
  <meta name="twitter:title" content="Padawan">
  <meta
  property="og:description"
  content={textEs.home}>
<meta property="og:image" content="https://padawanway.com/img-Meta-Tags-Card.png">

</head>
  <body
    class="h-full w-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header idioma="es" />
    <Home homeText={textEs.home} />
    <div class="space-y-24 px-8 py-32">
      <OurWay textOurWay={textEs} />
      <OurServices textOurServices={textEs} />
      <OurMetodology textOurMetodology={textEs} />
      <OurTeam textOurTeam={textEs} />
    </div>
    <AboutUs textContactUs={textEs} />
    
  </body>
</html>

<script>
  // Esperar a que el DOM esté completamente cargado antes de agregar event listeners
  document.addEventListener("DOMContentLoaded", function() {
    // Event listener para el botón con ID "#botonEs"
    const botonEs = document.getElementById("botonEs");
    if (botonEs) {
      botonEs.addEventListener("click", function() {
        localStorage.setItem('lang', "ES");
      });
    }

    // Event listener para el botón con ID "#botonEn"
    const botonEn = document.getElementById("botonEn");
    if (botonEn) {
      botonEn.addEventListener("click", function() {
        localStorage.setItem('lang', "EN");
      });
    }
  });
</script>

