---
import ContentSection from "~/components/content-section.astro";
import image from "~/assets/img-our-methodology.png"
import { Picture } from "@astrojs/image/components";
const {textOurMetodology} = Astro.props;
const widths = [450, 800, 1200];
const sizes = "20rem";
---

<ContentSection title={textOurMetodology.ourMetodologyTitle} id="ourMetodology">
  <Fragment slot="image">
    <Picture
  class="object-cover"
  src={image}
  widths={widths}
  sizes={sizes}
  alt="The ridged surface of the moon"
/>
  </Fragment>
  <Fragment slot="paragraph">
    <div class="grid grid-cols-2 w-2/3  mt-10 gap-1">
      <div class="w-2/3">
        <p class="font-bold text-lg	">{textOurMetodology.colaborationTitle}</p>
        <p class="font-thin text-base	mt-2">{textOurMetodology.colaboration}</p>
      </div>
      <div class="w-2/3">
        <p class="font-bold text-lg	">{textOurMetodology.comprehensiveSupportTitle}</p>
        <p class="font-thin text-base	mt-2">{textOurMetodology.comprehensiveSupport}</p>
      </div>
      <div class="w-2/3">
        <p class="font-bold text-lg ">{textOurMetodology.customizationTitle}</p>
        <p class="font-thin text-base	mt-2">{textOurMetodology.customization}</p>
      </div>
      <div class="w-2/3">
        <p class="font-bold text-lg ">{textOurMetodology.knowladgeTransferTitle}</p>
        <p class="font-thin text-base	mt-2">{textOurMetodology.knowladgeTransfer}</p>
      </div>
    </div>
  </Fragment>
</ContentSection>
