---
import ContentSection from "~/components/content-section.astro";
import image from "~/assets/img-our-service.png"
import { Picture } from "@astrojs/image/components";
const {textOurServices} = Astro.props;
const widths = [450, 800, 1200];
const sizes = "20rem";
---

<ContentSection title={textOurServices.ourServicesTitle} id="ourServices">
  <Fragment slot="image">
    <Picture
  class="object-cover"
  src={image}
  widths={widths}
  sizes={sizes}
  alt="The ridged surface of the moon"
/>
  </Fragment>
  <Fragment slot="paragraph">
    <div class="grid grid-cols-1 sm:w-2/3 w-full mt-10 sm:gap-1 gap-4">
    <div class="sm:w-2/3 w-full">
      <p class="font-bold text-lg	">{textOurServices.consultingTitle}</p>
      <p class="font-thin sm:text-base text-xs	mt-2">{textOurServices.consulting}</p>
    </div>
    <div class="sm:w-2/3 w-full">
      <p class="font-bold text-lg ">{textOurServices.SoftwareDevelopmentTitle}</p>
      <p class="font-thin sm:text-base text-xs	mt-2">{textOurServices.SoftwareDevelopment}</p>
    </div>
    <div class="sm:w-2/3 w-full">
      <p class="font-bold text-lg	">{textOurServices.ongoingSuportTitle}</p>
      <p class="font-thin sm:text-base text-xs	mt-2">{textOurServices.ongoingSuport}</p>
    </div>
  </div>
  </Fragment>
</ContentSection>
