---
import ContentSection from "~/components/content-section.astro";
import image from "~/assets/img-our-team-guillermo.png";
import image2 from "~/assets/img-our-team-leandro.png";
import image3 from "~/assets/img-our-team-tomas.png";
import image4 from "~/assets/img-our-team-Santi.png";
import image5 from "~/assets/img-our-team-network.png";
import { Picture } from "@astrojs/image/components";
const { textOurTeam } = Astro.props;
const widths = [500, 800, 1200];
const sizes = "12rem";
const teamMates = [
  {
    nombre: "Guillermo Monge",
    rol: "Product & Project Manager",
    mail: "guillermo@padawanway.com",
    linkedin: "",
    imgUrl: image,
  },
  {
    nombre: "Leandro Diato",
    rol: "Senior Backend Developer",
    mail: "leandro@padawanway.com",
    linkedin: "",
    imgUrl: image2,
  },
  {
    nombre: "Tomás Monge Vidal",
    rol: "Full Stack Developer",
    mail: "tomas@padawanway.com",
    linkedin: "",
    imgUrl: image3,
  },
  {
    nombre: "Santiago Del Rio",
    rol: "Full Stack Developer",
    mail: "santiago@padawanway.com",
    linkedin: "",
    imgUrl: image4,
  },
];
---

<ContentSection title={textOurTeam.ourTeamTitle} id="ourTeam">
  <Fragment slot="paragraph">
    <div
      class="mb-10 mt-10 grid w-full grid-cols-1 gap-10 sm:grid-cols-4 sm:gap-1"
    >
      {
        teamMates.map((e) => (
          <div class="items-center text-center">
            <Picture
              class="mx-auto my-auto mb-5 object-cover"
              src={e.imgUrl}
              widths={widths}
              sizes={sizes}
              alt={e.nombre}
            />
            <p class="font-bold">{e.nombre}</p>
            <p class="font-light text-base">{e.rol}</p>
            <a href={"mailto:" + e.mail}>
              <p class="font-thin text-base">{e.mail}</p>
            </a>
          </div>
        ))
      }
    </div>
  </Fragment>
  <Fragment slot="foot">
    <div class="grid w-full grid-cols-1 gap-5 sm:grid-cols-4">
      <div class="sm:col-span-1">
        <Picture
          class="mx-auto my-auto object-cover"
          src={image5}
          alt={textOurTeam.ourTeamSubtitle}
          widths={widths}
          sizes={sizes}
        />
      </div>
      <div
        class="flex flex-col justify-center text-center sm:col-span-3 sm:text-left"
      >
        <p class="mb-2 font-bold text-2xl">
          {textOurTeam.ourTeamSubtitle}
        </p>
        <p class="font-thin text-xl">
          {textOurTeam.ourTeam}<a href="mailto:hr@padawanway.com"
            >hr@padawanway.com</a
          >
        </p>
      </div>
    </div>
  </Fragment>
</ContentSection>
