---
import ContentSection from "~/components/content-section.astro";
import image from "~/assets/img-our-way.png"
import { Picture } from "@astrojs/image/components";
const {textOurWay} = Astro.props;
const widths = [450, 800, 1200];
const sizes = "20rem";
---

<ContentSection title={textOurWay.ourWayTitle} id="ourway">
  <Fragment slot="image">
    <Picture
  class="object-cover"
  src={image}
  widths={widths}
  sizes={sizes}
  alt="The ridged surface of the moon"
/>
  </Fragment>
  <Fragment slot="paragraph">
    <div class="grid sm:grid-cols-2 grid-cols-1 sm:w-2/3 w-full mt-10 sm:gap-1 gap-2">
    <div class="sm:w-2/3 w-full">
      <p class="font-bold text-lg	">{textOurWay.guidanceTitle}</p>
      <p class="font-thin sm:text-base text-xs	mt-2">{textOurWay.guidance}</p>
    </div>
    <div class="sm:w-2/3 w-full">
      <p class="font-bold text-lg ">{textOurWay.solutionsTitle}</p>
      <p class="font-thin sm:text-base text-xs	mt-2">{textOurWay.solutions}</p>
    </div>
    <div class="sm:w-2/3 w-full">
      <p class="font-bold text-lg	">{textOurWay.supportTitle}</p>
      <p class="font-thin sm:text-base text-xs	mt-2">{textOurWay.support}</p>
    </div>
    <div class="sm:w-2/3 w-full">
      <p class="font-bold text-lg ">{textOurWay.leaderShipTitle}</p>
      <p class="font-thin sm:text-base text-xs	mt-2">{textOurWay.leaderShip}</p>
    </div>
  </div>
  </Fragment>
</ContentSection>
